/**
 * App Component Styles
 *
 * Styles for the main `App` component, including layout, logo animation, and header.
 * 
 * - .App: Centers content.
 * - .App-logo: Defines logo size and disables pointer events.
 * - @media (prefers-reduced-motion): Controls animation based on user motion preference.
 * - .App-header: Styles the header with dark background, flex layout, and responsive font size.
 * - .App-link: Styles links with React blue color.
 * - @keyframes App-logo-spin: Defines logo rotation animation.
 *
 * Code Author: Renz Carlo T. Caritativo
 * Date Created: 9/9/2024
 * Last Modified: 11/11/2024
 */

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}