/**
 * Landing Page Styles
 *
 * This CSS defines the layout and transition effects for the landing page, including background color, grid layout, and hover animations.
 *
 * Properties:
 * -----------
 * - .landing-background: Sets the background color to #1583fe and spans the full viewport width (100vw).
 * - .sibling-fade: Defines a 3-column, 2-row grid with hover effects for opacity and scaling of child elements.
 * - Fade Transitions: Controls entry and exit animations with opacity and translation effects.
 *
 * Affected Elements:
 * ------------------
 * - Background of the landing page.
 * - Child elements within the sibling-fade container.
 * - Elements with fade-in/fade-out transitions.
 *
 * Dependencies:
 * -------------
 * - This rule is used for styling elements on the landing page with grid layouts and transition effects.
 *
 * Code Author:
 * ------------
 * - Renz Carlo T. Caritativo
 * 
 * Date Created: 9/12/2024
 * Last Modified: 11/13/2024
 */

/* LandingPage.css */
.landing-background {
    background-color: #1583fe; /* Replace with your desired color */
    width: 100vw;
}

.sibling-fade {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0.5rem;
}
  
.sibling-fade > * {
    transition: opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms;
}

.sibling-fade:hover > * {
    opacity: 0.4;
    transform: scale(0.9);
}

.sibling-fade > *:hover {
    opacity: 1;
    transform: scale(1);
    transition-delay: 0ms, 0ms;
}

/* Fade in and out transitions */
.fade-enter {
    opacity: 0;
    transform: translateY(20px);
}
.fade-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 300ms, transform 300ms;
}
.fade-exit {
    opacity: 1;
    transform: translateY(0);
}
.fade-exit-active {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 300ms, transform 300ms;
}